@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background: #f8fafc;
  color: #1e293b;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  background: #e2e8f0;
}

/* Custom border-b-3 for active tabs */
.border-b-3 {
  border-bottom-width: 3px;
}
