@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  background: #0f172a;
}
